#legend-bar {
  z-index: 802;
  position: fixed;
  left: 0px;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

#legend-site-block {
  background-color: red;
}

#legend-shop-block {
  background-color: orange;
}

#legend-spot-block {
  background-color: springgreen;
}

#legend-routine-normal-block {
  background-color: aqua;
}

#legend-routine-delay-block {
  background-color: deeppink;
}

#legend-border-block {
  background-color: #ccc;
}.legend-block-common {
  opacity: 0.5;
  width: 100%;
  height: 2px;
}.legend-block {
  display: inline-block;
  width: 16%;
}.legend-title {
  font-family: 'Microsoft Yahei' Simhei Arial;
  font-size: 12px;
  color: #666;
  opacity: 0.8;
  text-align: center;
  padding-top: 2px;
}
