#explore {
  z-index: 800;
  position: absolute;
  width: 400px;
  height: 200px;
  background-color: #000;
  opacity: 0.5;
  visibility: hidden;
  border-radius: 5px;
  /*居中*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}#explore-button-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}#explore-button {
  font-size: 24px;
  color: aqua;
  font-family: 'Microsoft Yahei' Simhei Arial;
  background: transparent;
  border: none;
}#explore-button:hover {
  cursor: pointer;
  color: white;
}
