@media all and (orientation : portrait){
    .#{$prefixCls}{
        padding: 1em 16px;

        &-Message{
            display: flex;
            flex:1;
            align-items: center;
            overflow: hidden;
            height: 100%;

            div[role='message']{
                white-space: nowrap;
                position: absolute;
                line-height: 1; 
                transition-timing-function: linear;
            }
        }

        &-Icon{
            min-width: 24px;
            font-size: 1.25rem;
        }
    }
}