@import '../../style/index';

$prefixCls:'#{$global-prefixCls}-Space';
 

.#{$prefixCls} {
    display: inline-flex;

    &-Horizontal{
        align-items: center;
        flex-wrap: wrap;
        line-height: 0;
    }

    &-Vertical{
        flex-direction: column;
    }
}