.line{
    border-right:2px solid rgb(0, 174, 255);
    width:7px;
    height:20px;
    line-height: 20px;
}
.txt{
    margin-left:20px;
    margin-top:-18px;
}
.fontleft{
    padding-right:5px;
  }