#tickNum-container {
  font-family: 'Microsoft Yahei' Arial;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1200;
  text-align: right;
  opacity: 0.3;
}

#tickNum-package-title {
  font-size: 12px;
  color: aqua;
}

#tickNum-delay-title {
  font-size: 12px;
  color: deeppink;
}.tickNum-number {
  font-size: 48px;
  color: gray;
}

#tick-container {
  position: absolute;
  bottom: 50px;
  right: 20px;
  z-index: 1200;
  text-align: center;
  visibility: hidden;
}

#waves-container {
  z-index: 1300;
  opacity: 0.5;
}

#ticks {
  color: #002735;
  font-family: Arial;
  font-weight: bold;
  z-index: 1200;
  /*position absolute
    bottom 50px
    right 20px*/
  text-align: center;
}

#hours {
  font-size: 80px;
}#ampm {
  font-size: 24px;
  margin-top: -20px;
  font-family: 'Microsoft Yahei' Arial;
  /*padding-right 8px*/
}
